@charset "UTF-8";
.popline {
    position: absolute;
    border-radius: 12px;
    background: #2C2D2E;
    display: none;
    margin: 0;
    list-style: none;
    padding: 1px 5px;
    font-family: arial;
    text-rendering: optimizeLegibility;
    white-space: nowrap;}
.popline:after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 8px solid hsl(210, 2%, 18%);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
  .popline li {
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .popline li i {
        font-weight: bold; } }
    .popline li .popline-text {
    font-size: 17.4px;
    top: -1px;
    display: inline-block;
    position: relative; }
    .popline li .fa, .popline li .popline-background-fix {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    .popline li a {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBR‌​AA7) 0 0 repeat\9;
    margin: 0;
    outline: none;
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    min-width: 9px;}
      .popline li a:link, .popline li a:hover, .popline li a:visited, .popline li a:active {
        color: white;
        text-decoration: none; }
  .popline .popline-hover {
    background-color:#313131 }
  .popline .popline-boxed {
    padding: 0 9px; }
  .popline .popline-lighter {
    font-weight: lighter; }
  .popline .popline-subbar {
    display: none;
    list-style: none;
    padding: 0; }
  .popline .popline-textfield {
        border: none;
    height: 39px;
    padding: 0px 9px;
    font-size: 12px;
    height: 55px\9;
    vertical-align: top;
    font-size: 16px;
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    background: #1a70c0 \9;
    background: rgba(74, 74, 74, 0.15);
    color: #FFFFFF;
    line-height: 51px;
    display: none;
    outline: none;
    width: 300px; }
  .popline .popline-textfield:-webkit-input-placeholder {
    color: #EEE; }
  .popline .popline-textfield:-moz-placeholder {
    color: #EEE; }
  .popline .popline-textfield:-moz-placeholder {
    color: #EEE; }
  .popline .popline-textfield:-ms-input-placeholder {
    color: #EEE; }
